{% extends 'layout.html.twig' %}

{% block title %}{{ room.name }} Calendar{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="d-flex flex-row align-items-center justify-content-between mx-sm-3">
            <h1>{{ room.name }} - {{ calendarToString }}</h1>
            <div>
                <a href="{{ url('room_calendar_previous', {
                    "id": room.id,
                    "month" : calendar.previousMonth.month,
                    "year": calendar.previousMonth.year
                }) }}" class="btn btn-primary">&lt;</a>

                <a href="{{ url('room_calendar_previous', {
                    "id": room.id,
                    "month" : calendar.nextMonth.month,
                    "year": calendar.nextMonth.year
                }) }}" class="btn btn-primary">&gt;</a>
            </div>
        </div>

        <table class="calendar__table calendar__table--{{ weeks }}weeks">
            {# Showing weeks of the cuurent month #}
            {% for i in 1..weeks %}
                <tr>
                    {% for key, day in days %}
                        {# Logic to get date of the day #}
                        {% set dateDay = firstDay|clone|date_modify('last monday')|date_modify("+"~day_next_Value(key, i)~"day") %}

                        {# Showing day in string #}
                        <td class="{% if not day_in_the_month(calendar,dateDay) %}calendar__outOfMonth {% endif %}">
                            {# Showing day in string only in the first week #}
                            {% if i is same as(1) %}
                                <div class="calendar__weekday">{{ day }}</div>
                            {% endif %}

                            {# Showing date of the day #}
                            {% if day_in_the_month(calendar,dateDay) %}
                            <a href="{{ url('reservation_new', {
                                "id": room.id,
                                "date": dateDay|date('Y-m-d')
                            }) }}">
                            {% endif %}
                                <div class="calendar__day">{{ dateDay|date("d") }}</div>
                            {% if not day_in_the_month(calendar,dateDay) %}
                            </a>
                            {% endif %}
                            {% for key, reservation in day_reservations(monthReservationsByDay, dateDay|date('Y-m-d')) %}
                                {# Showing reservation for this day #}
                                <div calendar__reservation>
                                    <a href="{{ url('reservation_show', {
                                        'id': reservation.id
                                    }) }}">
                                        From {{ reservation.start|date('H:i')  }} To {{ reservation.end|date('H:i')  }}
                                    </a>
                                </div>
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}