<div class="container">
    <div class="">
        <div class="align-self-center">
            {% if demandeReservation is not empty  %}
            <div class="col">
                <h3>Derniers Reservations</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Start</th>
                        <th scope="col">End</th>
                        <th scope="col">Status</th>
                        <th scope="col">Room</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reservation in demandeReservation %}
                        <tr>
                            <th scope="row">{{ reservation.id }}</th>
                            <td>{{ reservation.start | date('Y-m-d') }}</td>
                            <td>{{ reservation.end | date('Y-m-d') }}</td>
                            <td>{{ reservation.state }}</td>
                            <td>{{ reservation.room.id | room_name }}</td>
                            <td>
                                <a class="btn btn-info"
                                   href="{{ url('reservation_show', {
                                       'id': reservation.id
                                   }) }}">
                                    Voir
                                </a>
                                {% if workflow_can(reservation, 'demand_validation') %}
                                    <a href="{{ path('reservation_workflow_secretary_approve', {'state': 'demand_validation', 'id': reservation.id}) }}" class="btn btn-primary">Valider</a>
                                {% endif %}
                                {% if workflow_can(reservation, 'demand_refused') %}
                                    <a href="{{ path('reservation_workflow_secretary_approve', {'state': 'demand_refused', 'id': reservation.id}) }}" class="btn btn-secondary">Refuser</a>
                                {% endif %}
                                {% if workflow_can(reservation, 'cancel_booking') %}
                                    <a href="{{ path('reservation_workflow_secretary_approve', {'state': 'cancel_booking', 'id': reservation.id}) }}" class="btn btn-secondary">Cloturer</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
            <div class="col">
                <h3>Salles Disponibles</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Room</th>
                        <th scope="col">Places</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for opened in openedRooms %}
                        <tr>
                            <th scope="row">{{ opened.id }}</th>
                            <td>{{ opened.name }}</td>
                            <td>{{ opened.nbPlaces }}</td>
                            <td>
                                <a class="btn btn-info"
                                   href="{{ url('room_show', {
                                       'id': opened.id
                                   }) }}">Voir</a>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if closedRooms is not empty  %}
            <div class="col">
                <h3>Salles en Travaux</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Room</th>
                        <th scope="col">Places</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for closed in closedRooms %}
                        <tr>
                            <th scope="row">{{ closed.id }}</th>
                            <td>{{ closed.name }}</td>
                            <td>{{ closed.nbPlaces }}</td>
                            <td>
                                <a class="btn btn-info"
                                   href="{{ url('room_show', {
                                       'id': closed.id
                                   }) }}">Voir</a>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
</div>