{% extends "layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}


{% block content %}
    <div class="body">
        <form action="{{ url('security_connexion') }}" method="post" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
            {% for label, messages in app.flashes %}
                {% for message in messages  %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
            {% if error %}
                <div class="alert alert-danger">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            <label for="inputEmail" class="sr-only">Email address</label>
            <input name="_username"
                   value="{{ last_email }}"
                   class="form-control" required type="email"
                   placeholder="Saisissez votre Email">
            <label for="inputPassword" class="sr-only">Password</label>
            <input name="_password"
                   type="password"
                   id="inputPassword"
                   class="form-control"
                   placeholder="Password"
                   required>
            <input type="hidden" name="_target_path" value="/index" />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <a href="{{ path('security_forgot_password') }}" class="col-8">Mot de passe oublié ?</a>
        </form>
    </div>
{% endblock %}

