{% extends 'layout.html.twig' %}

{% block title %}Liste des réservations{% endblock %}

{% block body %}
<div class="flex">
    <div class="col-10 offset-1">
        <h1 class="text-center">Liste des réservations</h1>

        <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Horaire</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.start ? reservation.date|date('Y/m/d') }}</td>
                <td>
                    De
                    {{ reservation.start ? reservation.start|date('H:i') : '' }}
                    a
                    {{ reservation.end ? reservation.end|date('H:i') : '' }}
                </td>
                <td>
                    {{ reservation_state(reservation.state) }}
                </td>
                <td>
                    <a class="btn btn-info"
                       href="{{ url('reservation_show', {
                           'id': reservation.id
                       }) }}">
                        Voir
                    </a>
                    {% if workflow_can(reservation, 'demand_validation') %}
                        <a href="{{ path('reservation_workflow_secretary_approve', {'state': 'demand_validation', 'id': reservation.id}) }}" class="btn btn-primary">Valider</a>
                    {% endif %}
                    {% if workflow_can(reservation, 'demand_refused') %}
                        <a href="{{ path('reservation_workflow_secretary_approve', {'state': 'demand_refused', 'id': reservation.id}) }}" class="btn btn-secondary">Refuser</a>
                    {% endif %}
                    {% if workflow_can(reservation, 'cancel_booking') %}
                        <a href="{{ path('reservation_workflow_secretary_approve', {'state': 'cancel_booking', 'id': reservation.id}) }}" class="btn btn-secondary">Cloturer</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}