{% extends 'layout.html.twig' %}

{% block title %}Liste des réservations{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>State</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>
                    {{ reservation.start ? reservation.start|date('d/m/Y') : '' }}
                    de
                    {{ reservation.start ? reservation.start|date('H:i') : '' }}
                    a
                    {{ reservation.end ? reservation.end|date('H:i') : '' }}
                </td>
                <td>
                    {{ reservation_state(reservation.state) }}
                </td>
                <td>
                    {% if workflow_can(reservation, 'demand_validation') %}
                        <a href="{{ path('reservation_workflow_secretary_approve', {'state': 'demand_validation', 'id': reservation.id}) }}" class="btn btn-primary">Valider</a>
                    {% endif %}
                    {% if workflow_can(reservation, 'demand_refused') %}
                        <a href="{{ path('reservation_workflow_secretary_approve', {'state': 'demand_refused', 'id': reservation.id}) }}" class="btn btn-secondary">Refuser</a>
                    {% endif %}
                    {% if workflow_can(reservation, 'cancel_booking') %}
                        <a href="{{ path('reservation_workflow_secretary_approve', {'state': 'cancel_booking', 'id': reservation.id}) }}" class="btn btn-secondary">Cloturer</a>
                    {% endif %}
                    <a href="#"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('reservation_new') }}">Create new</a> #}
{% endblock %}