{% extends 'layout.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="d-flex justify-content-sm-center">
                    <h1>Reservation List</h1>
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex justify-content-center">
                    <a class="btn btn-primary" href="{{ path('reservation_new') }}">Create new</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Slot</th>
                <th>State</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.slot ? reservation.slot|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.state ? reservation.state|join(', ') : '' }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('reservation_show', {'id': reservation.id}) }}">show</a>
                    <a class="btn btn-warning" href="{{ path('reservation_edit', {'id': reservation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            </div>
        </div>
    </div>

{% endblock %}