{% extends 'layout.html.twig' %}

{% block title %}Mes réservations{% endblock %}

{% block content %}
    <div class="row">
       <div class="col-10 offset-1">
           <ul class="nav nav-tabs m-5">
               <li class="nav-item">
                   <a class="nav-link active show" data-toggle="tab" href="#home">Demande</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" data-toggle="tab" href="#accepte">Demande Acceptées</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" data-toggle="tab" href="#annulation">Demande d'annulation</a>
               </li>
           </ul>
           <div id="myTabContent" class="tab-content">
               <div class="tab-pane fade active show"  id="home">
                   <table class="table">
                       <thead>
                       <tr>
                           <th>Room</th>
                           <th>Date</th>
                           <th class="text-center">Etat demande</th>
                           <th></th>
                       </tr>
                       </thead>
                       <tbody>
                       {% for reservation in reservations %}
                           <tr>
                               <td>{{ reservation.room | room_name }}</td>
                               <td>
                                   <span>Le {{ reservation.start ? reservation.start|date('d/m/Y') : '' }}</span>
                                   <span>{{ reservation.start ? reservation.start|date('H:i') : '' }} à {{ reservation.end ? reservation.end|date('H:i') : '' }}</span>
                               </td>
                               <td class="text-center">
                                   {{ reservation_state(reservation.state) }}
                               </td>
                               <td>
                                   {% if workflow_can(reservation,'cancel_demand') %}
                                       <a href="{{ path('reservation_workflow_user_approve', {'state': 'cancel_demand', 'id': reservation.id}) }}" class="btn btn-secondary">Annuler</a>
                                   {% endif %}
                                   {% if workflow_can(reservation,'cancel_after')  %}
                                       <a href="{{ path('reservation_workflow_user_approve', {'state': 'cancel_after', 'id': reservation.id}) }}" class="btn btn-secondary">Annuler</a>
                                   {% endif %}
                               </td>
                           </tr>
                       {% else %}
                           <tr>
                               <td colspan="4">Aucune demande trouvée</td>
                           </tr>
                       {% endfor %}
                       </tbody>
                   </table>
               </div>
               <div class="tab-pane fade" id="accepte">
                   <table class="table">
                       <thead>
                       <tr>
                           <th>Room</th>
                           <th>Date</th>
                           <th class="text-center">Etat demande</th>
                           <th></th>
                       </tr>
                       </thead>
                       <tbody>
                       {% for reservation in accepte %}
                           <tr>
                               <td>{{ reservation.room | room_name }}</td>
                               <td>
                                   <span>Le {{ reservation.start ? reservation.start|date('d/m/Y') : '' }}</span>
                                   <span>{{ reservation.start ? reservation.start|date('H:i') : '' }} à {{ reservation.end ? reservation.end|date('H:i') : '' }}</span>
                               </td>
                               <td class="text-center">
                                   {{ reservation_state(reservation.state) }}
                               </td>
                               <td>
                                   {% if workflow_can(reservation,'cancel_demand') %}
                                       <a href="{{ path('reservation_workflow_user_approve', {'state': 'cancel_demand', 'id': reservation.id}) }}" class="btn btn-secondary">Annuler</a>
                                   {% endif %}
                                   {% if workflow_can(reservation,'cancel_after')  %}
                                       <a href="{{ path('reservation_workflow_user_approve', {'state': 'cancel_after', 'id': reservation.id}) }}" class="btn btn-secondary">Annuler</a>
                                   {% endif %}
                               </td>
                           </tr>
                       {% else %}
                           <tr>
                               <td colspan="4">Aucune demande trouvée</td>
                           </tr>
                       {% endfor %}
                       </tbody>
                   </table>
               </div>
               <div class="tab-pane fade" id="annulation">
                   <table class="table">
                       <thead>
                       <tr>
                           <th>Room</th>
                           <th>Date</th>
                           <th class="text-center">Etat demande</th>
                           <th></th>
                       </tr>
                       </thead>
                       <tbody>
                       {% for reservation in annulation %}
                           <tr>
                               <td>{{ reservation.room | room_name }}</td>
                               <td>
                                   <span>Le {{ reservation.start ? reservation.start|date('d/m/Y') : '' }}</span>
                                   <span>{{ reservation.start ? reservation.start|date('H:i') : '' }} à {{ reservation.end ? reservation.end|date('H:i') : '' }}</span>
                               </td>
                               <td class="text-center">
                                   {{ reservation_state(reservation.state) }}
                               </td>
                               <td>
                                   {% if workflow_can(reservation,'cancel_demand') %}
                                       <a href="{{ path('reservation_workflow_user_approve', {'state': 'cancel_demand', 'id': reservation.id}) }}" class="btn btn-secondary">Annuler</a>
                                   {% endif %}
                                   {% if workflow_can(reservation,'cancel_after')  %}
                                       <a href="{{ path('reservation_workflow_user_approve', {'state': 'cancel_after', 'id': reservation.id}) }}" class="btn btn-secondary">Annuler</a>
                                   {% endif %}
                               </td>
                           </tr>
                       {% else %}
                           <tr>
                               <td colspan="4">Aucune demande trouvée</td>
                           </tr>
                       {% endfor %}
                       </tbody>
                   </table>
               </div>
           </div>
       </div>
    </div>
{% endblock %}