{% extends 'layout.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <div class="flex">
        <div class="col-6 offset-3">
            <div class="card bg-light mb-3 text-center" style="max-width: 30rem;margin:50px">
                <div class="card-header">
                    {{ reservation.room | room_name }}
                    <i>
                        ({{ reservation.state ? reservation.state|join(', ') : '' }})
                    </i>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Réservation du {{ reservation.date | date('d/m/Y') }}</h4>
                    <p class="card-text">
                        Demmandeur: <b>{{ reservation.user.firstName  }} {{ reservation.user.lastName }}</b><br>
                        Date: <b>{{ reservation.date | date('d/m/Y') }}</b><br>
                        Créneau: <b>{{ reservation.start | date('H:i') }} - {{ reservation.end | date('H:i') }}</b><br>
                    </p>
                    <p>
                        <a href="{{ url('room_calendar_show', {"id": reservation.room.id}) }}" class="btn btn-primary">Retour</a>
                        {% if (reservation.state != "accepted" and reservation.state != "cancelled") %}
                            <a href="{{ path('reservation_edit', {'id': reservation.id}) }}" class="btn btn-warning">Modifier</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}