{% extends 'layout.html.twig' %}

{% block title %}Room index{% endblock %}

{% block body %}
    <div class="row">
        {% for room in rooms %}
            <div class="col-3">
                <div class="card text-white {{ room.state ? 'bg-secondary' : 'bg-primary' }} m-3">
                    <div class="card-header">
                        <a href="{{ path('room_edit', {'id': room.id}) }}">
                            {{ room.name }}
                        </a>
                    </div>
                    <div class="card-body text-center">
                        <p class="card-text">
                            Places : <b>{{ room.nbPlaces }}</b>
                        </p>
                        <p class="card-text">
                            <a href="#" class="btn btn-info">Calendrier</a>
                        </p>
                        <p class="card-text">
                            {% if room.state == 0 %}
                                <a href="{{ url('room_edit', {'id': room.id}) }}" class="btn btn-warning">Rendre indisponible</a>
                            {% else %}
                                <a href="{{ url('room_edit', {'id': room.id}) }}" class="btn btn-warning">Rendre disponible</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}