{% extends 'layout.html.twig' %}

{% block title %}Liste des salles{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            {% for label, messages in app.flashes %}
                {% for message in messages  %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="col-12">
            <div class="row">
                {% for room in rooms %}
                    <div class="col-sm-6  col-xl-3">
                        <div class="card text-white {{ room.state ? 'bg-secondary' : 'bg-primary' }} m-3">
                            <div class="card-header">
                                {% if is_granted('ROLE_SECRETARY') %}
                                <a class="text-dark" href="{{ path('room_edit', {'id': room.id}) }}">
                                    {{ room.name }}
                                </a>
                                {% else %}
                                    <a class="text-dark" href="{{ url('room_calendar_show', {'id': room.id}) }}">
                                        {{ room.name }}
                                    </a>
                                {% endif %}
                            </div>
                            <div class="card-body text-center">
                                <p class="card-text">
                                    Places : <b>{{ room.nbPlaces }}</b>
                                </p>
                                {% if is_granted('ROLE_CAN_SEE_CALENDAR') %}
                                <p class="card-text">
                                    <a href="{{ url('room_calendar_show', {'id': room.id}) }}" class="btn btn-info">Calendrier</a>
                                </p>
                                {% endif %}

                                {% if is_granted('ROLE_SECRETARY') %}
                                    <p class="card-text">
                                        {% if room.state == 0 %}
                                            <a href="{{ url('room_edit', {'id': room.id}) }}" class="btn btn-warning">Rendre indispo.</a>
                                        {% else %}
                                            <a href="{{ url('room_edit', {'id': room.id}) }}" class="btn btn-warning">Rendre dispo.</a>
                                        {% endif %}
                                    </p>
                                {% endif %}

                                {% if is_granted('ROLE_ADMIN') %}
                                    {{ include('room/_delete_form.html.twig') }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}