{% extends 'layout.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <div class="flex">
        <div class="col-10 offset-1">
            <div class="row">
                <div class="col-9">
                    <h1>Liste des utilisateurs</h1>
                </div>
                <div class="col-2 btn-add-user">
                    <a href="{{ path('user_new') }}" class="btn btn-primary">Nouvel utilisateur</a>
                </div>
            </div>
            {% for label, messages in app.flashes %}
                {% for message in messages  %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom - Prénom</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th class="actions"></th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.firstname }} - {{ user.lastname }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
                        <td>
                            <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-success">Voir</a>
                            <a href="{{ path('user_account_status', {'id': user.id}) }}" class="btn {{ user.isBlocked ? 'btn-info' : 'btn-danger' }}">{{ user | is_enabled }}</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}