{% extends 'layout.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="d-flex justify-content-sm-center">
                    <h1>User List</h1>
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex justify-content-center">
                    <a class="btn btn-primary" href="{{ path('user_new') }}">Create new</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Roles</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.password }}</td>
                            <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
                            <td>
                                <a class="btn btn-info" href="{{ path('user_show', {'id': user.id}) }}">show</a>
                                <a class="btn btn-warning" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}